body {
  background: linear-gradient(to right, #162031, #2a5298);
  font-family: Arial, sans-serif;
  color: white;
}
p {
  font-size: 17px;
  line-height: 1.5;
  font-family: poppins;
}
.first-title {
  font-family: extra-light;
  color: whitesmoke;
}
.sub-title {
  font-family: extra-light;
  color: whitesmoke;
}
a {
  color: rgb(91, 91, 132);
  text-decoration: underline;
}
a:visited {
  color: brown;
  border-color: brown;
  border-bottom: brown solid 1px;
}
a:hover {
  color: red;
}
a:active {
  color: white;
}
fieldset {
  border: 2px solid black;
  padding: 10px;
  width: 300px;
}
.quotes1 {
  font-style: italic;
  color: greenyellow;
}
.contact {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.contact:hover {
  color: white;
  text-decoration: underline;
}
.contact:visited {
  color: white;
  text-decoration: none;
}
.form-label {
  line-height: 2;
}
.test2>p{
  color: rgb(252, 0, 0);
  font-size: 20px;
}
img {
  max-width: 100%;
  height: auto;
}
video {
  max-width: 100%;
  height: auto;
}
iframe {
  max-width: 100%;
  height: auto;
}
.testol {
  width: 200px;
  border: 1px solid black;
  list-style-position: inside;
}
.testul {
  width: 200px;
  border: 1px solid black;
  list-style-type: square;
}
.ul-container {
  list-style-type: circle;
  list-style-position: inside;
}
.testradial {
  background: radial-gradient(circle closest-side at center, red, yellow, green);
}